@import url('https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap');

:root {
  --font: 'DM Sans', sans-serif;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  font-family: var(--font);
	background-size: 400% 400%;
	height: 100vh;
  display: flex;
  background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.com%2Ffree-photos-vectors%2Fbackground&psig=AOvVaw1Vh-EFWVZOlO1WJ21Bds7h&ust=1664690262687000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCLjJ_Je8vvoCFQAAAAAdAAAAABAD');
}

.container {
  border-radius: 16px;
  margin: auto;
  width: 800px;
  padding: 25px;
  background-color: white;
  box-shadow: 0 20px 80px rgba(0,0,0,.3);
}

.todoList-input {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.todoList-input input {
  width: 100%;
  padding: 8px 16px;
  margin: 10px 0;
  outline: 0;
  border: none;
  border-bottom: 1px solid #ccc;
}

.todoList-output {
  margin-top: 10px;
}

.data {
  display: flex;
  justify-content: space-between;
}

.data .ant-btn {
  margin: 10px;
}